
trigger: none

pool:
  vmImage: ubuntu-latest

stages:
- stage: Check_Pipeline_Warnings
  displayName: Check_Pipeline_Warnings
  jobs:
  - job: Check_Pipeline_Warnings
    displayName: Check_Pipeline_Warnings
    steps:
    - checkout: self
      persistCredentials: true

    - task: UsePythonVersion@0
      displayName: Pyhton Version
      inputs:
        versionSpec: '3.x'

    - script: |
        python3 -m pip install --upgrade pip
        pip install -r pipeline_warnings/requirements.txt
      displayName: Install Python dependencies
    
    - script: |
        python3 pipeline_warnings/scripts/main.py
      env:
        SYSTEM_ACCESSTOKEN: $(System.AccessToken)
      displayName: Run Python script to generate Warnings


    # Publish generated CSV files
    - task: PublishPipelineArtifact@1
      displayName: Publish CSV Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifact: 'pipeline_warning'
        publishLocation: 'pipeline'







